# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# Devcontainer
/.devcontainer

# Github actions
/.github

# Test output
/test-results

# VSCode
/.vscode

# Image files
*.png
